{% extends "core/base_accounts.html" %}

{% block title %}Log in - SIGMA{% endblock %}

{% block content %}
<form method="post" novalidate class="auth-form">
	{% csrf_token %}
	
	<h3 style="font-family: 'Archivo Black', sans-serif; margin-bottom: 40px; font-weight: 400; font-size: 3rem; letter-spacing: 1px;">Welcome<br>Back.</h3>

	{% include "core/includes/form.html" %}

	<button type="submit" class="btn-accent hover-target">Initiate Session</button>
	
	<div class="auth-footer">
		New to Sigma? <a href="{% url 'signup' %}" class="hover-target">Create Account</a>
	</div>
</form>
{% endblock %}
