<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card-deck mt-4em">
        <div class="card">
          <img class="card-img-top" src="../static/img/gear.png" alt="">
          <div class="text-center card-body">

            <a href="/dataset/#/normalityTest"class="btn btn-link btn-info nbtn">Normality Test</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card-deck mt-4em">
        <div class="card">
          <img class="card-img-top" src="../static/img/gear.png" alt="">
          <div class="text-center card-body">

            <a href="/dataset/#/correlationTest"class="btn btn-link btn-info nbtn">Correlation Test</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card-deck mt-4em">
        <div class="card">
          <img class="card-img-top" src="../static/img/gear.png" alt="">
          <div class="text-center card-body">

            <a href="/dataset/#/stationaryTest"class="btn btn-link btn-info nbtn">Stationary Test</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card-deck mt-4em">
        <div class="card">
          <img class="card-img-top" src="../static/img/gear.png" alt="">
          <div class="text-center card-body">

            <a href="/dataset/#/parametricstatisticalTest"class="btn btn-link btn-info nbtn">Parametric Test</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card-deck mt-4em">
        <div class="card">
          <img class="card-img-top" src="../static/img/gear.png" alt="">
          <div class="text-center card-body">

            <a href="/dataset/#/nonparametricstatisticalTest"class="btn btn-link btn-info nbtn">Non-Parametric Test</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card-deck mt-4em">
        <div class="card">
          <img class="card-img-top" src="../static/img/gear.png" alt="">
          <div class="text-center card-body">

            <a href="/dataset/#/stationaryTest"class="btn btn-link btn-info nbtn">Stationary Test</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
