{% load staticfiles %}
<div id="fmea" class="table-wrapper rat">
            <div class="table-title rat">
                <div class="row">
                    <div class="col-sm-8"><h2>Opportunity Tracker</h2></div>
                    <div class="col-sm-4">
                        <button type="button" id="add-new" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-6">
                            <h5 class="col-sm-8">Select Process:</h5>
                            <select required ng-model="selectedProcess" id="selectbox" class="ml-4 custom-select ">
                                <!--	<option value="PIDroot00000000000000">root</option>-->
                                <option ng-repeat="x in processList" value="[[x.process_id]]">
                                    [[x.parent_p_id.slice(3,-14)]]/[[x.process_name]]
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="qtfmea">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Legend</th>
						<th>Opportunity Name</th>
						<th>Notes On Quantification</th>
						<th>Opportunity Description</th>
						<th>Nature Of Intervention</th>
                        <th>Process Name</th>
                        <th>Opportunity Category</th>
                        <th>Efforts</th>
                        <th>Impact</th>
                        <th>Created By</th>
                        <th>Estimated Annualized Impact</th>
                        <th>Type of Impact</th>
                        <th>Approved For Project Charter Creation</th>
                        <th>Effort Score</th>
                        <th>Impact Score</th>
                        <th>Nature Score</th>
                        <th>Priority Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
						            <td></td>
						            <td></td>
                        <td></td>
						            <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
							<a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>

                </tbody>
            </table>

            </div>
        </div>
