<div class="container">
		<nav aria-label="breadcrumb" class="my-4">
			<ol class="breadcrumb">
				<li class="breadcrumb-item" aria-current="page">Opportunity Tracker</li>
			</ol>
		</nav>
<div class="md-12">
<table class="tablefill3" style="margin-top: 30px">
        	  <thead>
        		<tr class="thnew">
        		  <th style="text-align:center;">Select Process</th>
        		  <th style="text-align:center;">Save</th>
        		  <th style="text-align:center;width: 20%;">Add New</th>
        		</tr>
        	  </thead>
        	  <tbody>
        		<tr>
        	      <td><select required ng-model="selectedProcess" id="selectbox" class="ml-4 custom-select" style="height: 35px;">
                      <option ng-repeat="x in processList" value="[[x.process_id]]">
                          [[x.parent_p_id.slice(3,-14)]]/[[x.process_name]]
                      </option>
                  </select> </td>

        		  <td>
                      <button type="button" id="save" class="btn btn-info save" style="width: 150px;height: 35px;margin-top: 10px;margin-bottom: 10px;"><i class="fa fa-plus"></i> Save</button>
                  </td>
                  <td>
                      <button type="button" id="add-new" class="btn btn-info add-new" style="width: 150px;height: 35px;margin-top: 10px;margin-bottom: 10px;"><i class="fa fa-plus"></i> Add New</button>
                  </td>
                  </tr>
        	  </tbody>
        	</table>
</div>



<div id="fmea" class="table-wrapper rat">
            <!--<div class="table-title rat">
                <div class="row">
                    <div class="col-sm-8"><h2>Opportunity Tracker</h2></div>
                    <div class="col-sm-4">
                        <button type="button" id="add-new" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                        <button type="button" id="save" class="btn btn-info save"><i class="fa fa-plus"></i> Save</button>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-6">
                            <h5 class="col-sm-8">Select Process:</h5>
                            <select required ng-model="selectedProcess" id="selectbox" class="ml-4 custom-select ">
                                <!--	<option value="PIDroot00000000000000">root</option>-->
                                <!--<option ng-repeat="x in processList" value="[[x.process_id]]">
                                    [[x.parent_p_id.slice(3,-14)]]/[[x.process_name]]
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>-->
            <hr>
            <div class="qtfmea">
            <table class="table table-bordered" id="t1">
                <thead>
                    <tr>
                        <th style="width:8rem;">Legend</th>
						<th >Opportunity Name</th>
						<th>Notes On Quantification</th>
						<th>Opportunity Description</th>
						<th>Nature Of Intervention</th>
                        <th>Process Name</th>
                        <th>Opportunity Category</th>
                        <th style="width:8rem;">Efforts</th>
                        <th style="width:8rem;">Impact</th>
                        <th>Created By</th>
                        <th>Estimated Annualized Impact</th>
                        <th>Type of Impact</th>
                        <th>Approved For Project Charter Creation</th>
                        <th style="width:8rem;">Effort Score</th>
                        <th style="width:8rem;">Impact Score</th>
                        <th style="width:8rem;">Nature Score</th>
                        <th>Priority Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
			            <td></td>
			            <td></td>
                        <td></td>
			            <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
							<a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>

                </tbody>
            </table>

            </div>
        </div>
