<div class="container">
		<nav aria-label="breadcrumb" class="my-4">
			<ol class="breadcrumb">
				<li class="breadcrumb-item" aria-current="page">Failure Mode & Effects Analysis</li>
			</ol>
		</nav>
<div class="md-12">
<table class="tablefill3" style="margin-top: 30px">
        	  <thead>
        		<tr class="thnew">
        		  <th style="text-align:center;">Select Process</th>
        		  <th style="text-align:center;">FMEA Name</th>
							<th style="text-align:center;width: 20%;">Save</th>
        		</tr>
        	  </thead>
        	  <tbody>
        		<tr>
        	      <td><select required ng-model="selectedProcess" id="selectbox" class="ml-4 custom-select" style="height: 35px; width: 400px">
                      <option ng-repeat="x in processList track by $index" value="[[x.process_id]]">
                          [[x.parent_p_id.slice(3,-14)]]/[[x.process_name]]
                      </option>
                  </select> </td>
                  <td>
                      <input type="text" ng-model="fmeaName" class="form-control form-control-0" id="fmeaName" placeholder="Enter FMEA Name" style="height: 35px; width: 400px">
        		  </td>
        		  <td>
					  <button type="button" id="testFmea" class="btn btn-info " ng-click="testFmea()" style="width: 150px;height: 35px;margin-top: 10px;margin-bottom: 10px;"> Save</button></td>

          </tr>
        	  </tbody>
        	</table>
</div>

<!---<div id="fmea" class="table-wrapper rat">
            <!--<div class="table-title rat">
                <div class="row">
                    <div class="col-sm-8"><h2>Failure Mode & Effects Analysis</h2></div>
                    <div class="col-sm-4">
                        <button type="button" id="add-new" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-6">
                            <h5 class="col-sm-8">Select Process:</h5>
                            <select required ng-model="selectedProcess" id="selectbox" class="ml-4 custom-select ">
                                <!--	<option value="PIDroot00000000000000">root</option>-->
                            <!--   <option ng-repeat="x in processList track by $index" value="[[x.process_id]]">
                                    [[x.parent_p_id.slice(3,-14)]]/[[x.process_name]]
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                          <div class="col-sm-4 table table-striped my-4">
                            <label class="category" for="visuaName">Name FMEA</label>
                          </div>
                          <div class="col-sm table table-striped my-4">
                            <input type="text" ng-model="fmeaName" class="form-control form-control-0" id="fmeaName" placeholder="Enter FMEA Name">
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>-->
			<hr>
            <div class="qtfmea">
            <table id="qtfmea"class="tablefill3">
                <thead>
                    <tr class="thnew">
                        <th>Process Function (Step)</th>
                        <th>Potential Failure Modes "Errors"</th>
                        <th>Potential Failure Effects "Deffects" "Ys"</th>
                        <th>SEV</th>
                        <th>Potential Causes of Failure "Inputs" "Xs"</th>
                        <th>OCC</th>
                        <th>Current Process Control</th>
                        <th>DET</th>
                        <th>RPN</th>
                        <th>Recommended Actions</th>
                        <th>Responsible Person & Target Date</th>
                        <th>Take Actions</th>
                        <th>New SEV</th>
                        <th>New OCC</th>
                        <th>New DET</th>
                        <th>New RPN</th>
                    </tr>
                </thead>
                <tbody class="tdnew table-hover">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
            			<td></td>
            			<td></td>
                        <td></td>
            			<td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                			<a class="add" title="Add" data-toggle="tooltip" style="display: inline"><i class="material-icons">&#xE03B;</i></a>
                            <a class="edit" title="Edit" data-toggle="tooltip" style="display: inline"><i class="material-icons">&#xE254;</i></a>
                            <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
		</div>
		<button type="button" id="add-new" class="btn btn-info add-new" style=""><i class="fa fa-plus"></i> Add New</button>
            <!--<div class="col-sm-4">
              <button type="button"z` id="testFmea" class="btn btn-info " ng-click="testFmea()"> Save</button>
                <!-- <button type="button" id="ListFmea" class="btn btn-info " ng-click="ListFmea()"> List</button> -->
          <!--  </div>-->
        </div>
