<div id="fmea" class="table-responsive">
  <table class="table table-striped table-bordered table-highlight table-responsive-md">
    <thead class="thead-dark">
      <tr>
        <th>Process Function(Step)</th>
        <th>Potential Failure Modes "Errors"</th>
        <th>Potential Failure Effects "Deffects" "Ys"</th>
        <th>SEV</th>
        <th>Potential Causes of Failure "Inputs" "Xs"</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" class="form-control" value="Some Long Name Here" /></td>
        <td><input type="text" class="form-control" value="Some Long Name Here" /></td>
        <td><input type="text" class="form-control" value="Some Long Name Here" /></td>
        <td><input type="text" class="form-control" value="Some Long Name Here" /></td>
        <td><input type="text" class="form-control" value="Some Long Name Here" /></td>
      </tr>

    </tbody>
  </table>
  </div>
