<div class="container" ng-hide="showGraph1">
<nav aria-label="breadcrumb" class="my-4">
  <ol class="breadcrumb">
    <!--<li class="breadcrumb-item active" aria-current="page"><a href="" ng-click="reload()">Visualization</a></li>-->
	<li class="breadcrumb-item" aria-current="page">Choose Dataset</li>
  </ol>
</nav>
<!-- <a href="/dataset">dataset</a> -->
<h3>Choose dataset to make statistical summary:</h3>
  <!--DropdownSelector-->
<div class="table table-bordered table-striped my-4 dropdown">
    <button class="btn btn-primary dropdown-toggle block" type="button" data-toggle="dropdown">Select Dataset

    </button>
    <ul class="dropdown-menu scrollable-menu">
        <li ng-repeat="x in datasetArr"><br><a href="" class="btn btn-primary block" ng-click="chooseDataset(x)">[[x.dataset_name]]</a></li>
    </ul>
</div>
  <table class="table table-bordered table-striped my-4">
    <thead>
      <tr>
        <th>Dataset</th>
	<!--	<th>Created By</th>-->
       <th>Select Dataset</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in datasetArr">
        <td>[[x.dataset_name]]</td>
		<!--<td>[[x.user_id]]</td>-->
        <td><a href="" class="btn btn-primary" ng-click="chooseDataset(x)">Select</a></td>
      </tr>
    </tbody>
  </table>
  <!--Dropdown Menu-->
  <!--<div class="col-md-12 my-4" >
      <select    id="dset" name="dset" class="custom-select btn-info">
          <option selected="selected">Select field</option>
          <option ng-repeat="x in datasetArr" >[[x.dataset_name]]</a></option>
          </select>
  </div>-->

</div>
<!--
<div class = "container" ng-hide ="">
-->
<div class="container" ng-show="showGraph1">
 <nav aria-label="breadcrumb" class="my-4">
  <ol class="breadcrumb">
    <!--<li class="breadcrumb-item active" aria-current="page"><a href="" ng-click="reload()">Visualization</a></li>-->
	<li class="breadcrumb-item" aria-current="page">Change Selected Dataset</li>
  </ol>
</nav>
<!--DropdownSelector summarypage-->
<div class="table table-bordered table-striped my-4 dropdown pull-right">
    <button class="btn btn-primary dropdown-toggle block" type="button" data-toggle="dropdown">Select Dataset
    </button>
    <ul ng- class="dropdown-menu scrollable-menu">
        <li ng-repeat="x in datasetArr"><br><a href="" class="btn btn-primary block" ng-click="chooseDataset(x)">[[x.dataset_name]]</a></li>
    </ul>
</div>

  <nav aria-label="breadcrumb" class="my-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href="" ng-click="reload()">Statistical</a></li>
    <li class="breadcrumb-item" aria-current="page">Select Fields</li>
  </ol>
  </nav>
  <div class="row">
  <div class="col-md-4">
  <h3>Dataset Name : [[selectedDataset]]</h3>
  <label class="my-4" for="visuaName">Statistical Name</label>
  <input type="text" ng-model="sName" class="form-control onePerLMargin" id="analysName" placeholder="Enter Statistical Name">

  <h4 class="my-4">Select fields from drop down:</h4>
  <div class="col-md-12 my-4">
   Select method :
      <select id="method" name="method" ng-model="selectedmethod" ng-change="initCalculate()" class="custom-select btn-info">
        <option selected>Select field</option>
        <option ng-repeat="k in methodArr" value="[[k]]">[[k]]</option>
      </select>
  </div>
  <div class="col-md-12">
  Select Column :
      <select id="x_value" name="x_axis_value" ng-model="selectedfield" class="custom-select btn-info">
        <option selected>Select field</option>
        <option ng-repeat="k in fieldsAr" value="[[k]]">[[k]]</option>
      </select>
  </div>
  <button type="submit" class="btn btn-info" ng-click="calculateStatistical()">Calculate</button>
  <button class="btn btn-primary" ng-click="paramterSave1()">Save</button>
  </div>
  <div class="col-md-8 pltly-ht">
      <div id="histoDiv"></div>
      </div>
    <div class="col-md-4">
        </div>
    <div class="my-4 col-md-8">
        <div id="statisticalSummary"  style="background-color: #D3D3D3;" ng-show="selectedmethod=='describe' && calculationDone">

          <h3 ng-show="calculationDone && selectedmethod!='describe'" class="font-weight-bold text-center text-light" style="padding-bottom: 30px;">
              [[selectedmethod]] : [[calculatedSummary]]
          </h3>
          <table class="table table-bordered text-center" ng-show="selectedmethod=='describe' && calculationDone">
              <thead>
                  <tr>
                      <th>Parameter</th>
                      <th class="text-center">Value</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td class="text-left">Count</td>
                      <td>[[calculatedSummary.count]]</td>
                  </tr>
                  <tr>
                      <td class="text-left">Mean</td>
                      <td>[[calculatedSummary.mean]]</td>
                  </tr>
                  <tr>
                      <td class="text-left">Standard Deviation</td>
                      <td>[[calculatedSummary.std]]</td>
                  </tr>
                  <tr>
                      <td class="text-left">Median</td>
                      <td>[[calculatedSummary.median]]</td>
                  </tr>
                  <tr>
                      <td class="text-left">Skewness</td>
                      <td>[[calculatedSummary.skewness]]</td>
                  </tr>
                  <tr>
                      <td class="text-left">Kurtosis</td>
                      <td>[[calculatedSummary.kurtosis]]</td>
                  </tr>
                  <tr>
                      <td class="text-left">Minimum</td>
                      <td>[[calculatedSummary.min]]</td>
                  </tr>
                  <tr>
                      <td class="text-left">25%</td>
                      <td>[[calculatedSummary.25]]</td>
                  </tr>
                  <tr>
                      <td class="text-left">50%</td>
                      <td>[[calculatedSummary.50]]</td>
                  </tr>
                  <tr>
                      <td class="text-left">75%</td>
                      <td>[[calculatedSummary.75]]</td>
                  </tr>
                  <tr>
                      <td class="text-left">Maximum</td>
                      <td>[[calculatedSummary.max]]</td>
                  </tr>
              </tbody>
          </table>



        </div>
    </div>



    <div class="modal fade" id="successModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Success</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          [[sName]]Statistical is saved successfully.
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</div>

  </div>
  </div>
