<div class="container">
<div ng-hide="">
<nav aria-label="breadcrumb" class="my-4">
  <ol class="breadcrumb">
	<li class="breadcrumb-item" aria-current="page">Saved Statistics List</li>
  </ol>
</nav>
<div class="row no-gutters" style="margin-top:30px">
<div class="col-md">
  <table id="" class="tablefill3" style=" box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);">
    <thead>
        <tr ng-hide="false" class="thnew ng-show">
          <th style="text-align:center;">Name</th>
          <th style="text-align:center;">Action</th>
        </tr>
    </thead>
    <tbody class="pnew">
      <tr ng-repeat="x in statisticalArr" ng-if="$even" class="tdnew">
        <td class="ng-binding" style="width:70%">[[x.statistical_name]]</td>
        <td style="display:flex;">
            <a href="" style="margin-top:auto; width:100%" class="btn btn-primary" data-toggle="modal" data-target="#viewModal" ng-click="viewStatistical(x)">View</a>


<!-- modal for view-->

<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!--<h5 class="modal-title text-center" id="viewModalLabel">Statistical Summary</h5>-->



           <div class="btn-group">
 <!--  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
       Export
    </button>
    <div class="dropdown-menu">
      <button class="dropdown-item" id="create_pdf">Export as PDF</button>
      <button class="dropdown-item" ng-click="createIm()">Export as Image</button>
    </div>
  </div> -->
</div>
      </div>
      <div class="modal-body" id="viewModalBody">
        <div class="col-md">
          <div class="col-md">
            <div id="statisticalSummary" width="auto" height="300" style="background-color: #D3D3D3;">
              <h2 class="text-center display-4" style="padding: 30px; color: #192d42">Statistical Summary
              </h2>
              <!--  <h3 class="font-weight-bold text-center text-primary" style="padding-bottom: 30px;">
                  [[selMethod]] : [[calSummary]]
                </h3> -->
                <table class="tablefill2"  style="height:auto;">
                    <thead>
                        <tr class="thnew" >
                            <th class=" text-left">Factor</th>
                            <th class=" text-left">Value</th>

                            <th class=" text-left">Factor</th>
                            <th class=" text-left">Value</th>
                        </tr>
                    </thead>
                    <tbody class="tdnew table-hover">
                       <tr ng-if="$even">
                           <td class="text-left">Count</td>
                           <td>[[calSummary.count]]</td>

                           <td class="text-left">Mean</td>
                           <td style="border-right: 0px;">[[calSummary.mean]]</td>
                       </tr>
                       <tr>
                           <td class="text-left">Standard Deviation</td>
                           <td style="border-right: 0px;">[[calSummary.std]]</td>

                           <td class="text-left">Median</td>
                           <td style="border-right: 0px;">[[calSummary.median]]</td>
                       </tr>
                       <tr>
                           <td class="text-left">Skewness</td>
                           <td style="border-right: 0px;">[[calSummary.skewness]]</td>

                           <td class="text-left">Kurtosis</td>
                           <td style="border-right: 0px;">[[calSummary.kurtosis]]</td>
                       </tr>
                       <tr>
                           <td class="text-left">Minimum</td>
                           <td style="border-right: 0px;">[[calSummary.min]]</td>

                           <td class="text-left">25%</td>
                           <td style="border-right: 0px;">[[calSummary.25]]</td>
                       </tr>
                        <tr>
                           <td class="text-left">50%</td>
                           <td style="border-right: 0px;">[[calSummary.50]]</td>

                           <td class="text-left">75%</td>
                           <td style="border-right: 0px;">[[calSummary.75]]</td>
                       </tr>
                       <tr>
                           <td class="text-left">Maximum</td>
                           <td style="border-right: 0px;">[[calSummary.max]]</td>
                       </tr>
                    </tbody>
                  </table>
              </div>

            </div>
          </div>
      </div>


      <!--<div class="modal-body specific" id="viewModalBody">
	    <div class="col-md-8">
  <div class="my-4">
        <div id="statisticalSummary" width="400" height="300" style="background-color: #D3D3D3;">
          <h2 class="text-primary text-center display-4" style="padding: 30px;">Statistical Summary:
          </h2>
         <!--  <h3 class="font-weight-bold text-center text-primary" style="padding-bottom: 30px;">
              [[selMethod]] : [[calSummary]]
          </h3> -->
         <!-- <ul>
            <li>Count :[[calSummary.count]]</li>
            <li>Mean :[[calSummary.mean]]</li>
            <li>Standard Deviation :[[calSummary.std]]</li>
            <li>Median : [[calSummary.median]]</li>
            <li>Skewness : [[calSummary.skewness]]</li>
            <li>Kurtosis :[[calSummary.kurtosis]]</li>
            <li>Minimum :[[calSummary.min]]</li>
            <li>25% :[[calSummary.25]]</li>
            <li>50% :[[calSummary.50]]</li>
            <li>75% :[[calSummary.75]]</li>
            <li>Maximum :[[calSummary.max]]</li>
          </ul>
        </div>

  </div>
  </div>

      </div>-->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>



		<a href="" style="margin-top:auto; width:50%;" class="btn btn-default" data-toggle="modal" data-target="#editModal" ng-click="editStatistical(x)">Edit</a>
		<a href="" style="margin-top:auto; width:100%" class="btn btnd" ng-click="delStatistical(x.id)">Delete</a>
    </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-md">
    <table id="" class="tablefill3" style=" box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);">
      <thead>
          <tr ng-hide="false" class="thnew ng-show">
            <th style="text-align:center;">Name</th>
            <th style="text-align:center;">Action</th>
          </tr>
      </thead>
      <tbody class="pnew">
        <tr ng-repeat="x in statisticalArr" ng-if="$odd" class="tdnew">
          <td class="ng-binding" style="width:70%">[[x.statistical_name]]</td>
          <td style="display:flex;">
          <a href="" style="margin-top:auto; width:100%" class="btn btn-primary" data-toggle="modal" data-target="#viewModal" ng-click="viewStatistical(x)">View</a>


  <!-- modal for view-->

  <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="viewModalLabel">Statistical Summary</h5>



             <div class="btn-group">
   <!--  <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
         Export
      </button>
      <div class="dropdown-menu">
        <button class="dropdown-item" id="create_pdf">Export as PDF</button>
        <button class="dropdown-item" ng-click="createIm()">Export as Image</button>
      </div>
    </div> -->
  </div>
        </div>
        <div class="modal-body" id="viewModalBody">
          <div class="col-md">
            <div class="col-md">
              <div id="statisticalSummary" width="auto" height="300" style="background-color: #D3D3D3;">
                <h2 class="text-center display-4" style="padding: 30px; color: #192d42">Statistical Summary
                </h2>
                <!--  <h3 class="font-weight-bold text-center text-primary" style="padding-bottom: 30px;">
                    [[selMethod]] : [[calSummary]]
                  </h3> -->
                  <table class="tablefill2"  style="height:auto;">
                      <thead>
                          <tr class="thnew" >
                              <th class=" text-left">Factor</th>
                              <th class=" text-left">Value</th>

                              <th class=" text-left">Factor</th>
                              <th class=" text-left">Value</th>
                          </tr>
                      </thead>
                      <tbody class="tdnew table-hover">
                         <tr ng-if="$even">
                             <td class="text-left">Count</td>
                             <td>[[calSummary.count]]</td>

                             <td class="text-left">Mean</td>
                             <td style="border-right: 0px;">[[calSummary.mean]]</td>
                         </tr>
                         <tr>
                             <td class="text-left">Standard Deviation</td>
                             <td style="border-right: 0px;">[[calSummary.std]]</td>

                             <td class="text-left">Median</td>
                             <td style="border-right: 0px;">[[calSummary.median]]</td>
                         </tr>
                         <tr>
                             <td class="text-left">Skewness</td>
                             <td style="border-right: 0px;">[[calSummary.skewness]]</td>

                             <td class="text-left">Kurtosis</td>
                             <td style="border-right: 0px;">[[calSummary.kurtosis]]</td>
                         </tr>
                         <tr>
                             <td class="text-left">Minimum</td>
                             <td style="border-right: 0px;">[[calSummary.min]]</td>

                             <td class="text-left">25%</td>
                             <td style="border-right: 0px;">[[calSummary.25]]</td>
                         </tr>
                          <tr>
                             <td class="text-left">50%</td>
                             <td style="border-right: 0px;">[[calSummary.50]]</td>

                             <td class="text-left">75%</td>
                             <td style="border-right: 0px;">[[calSummary.75]]</td>
                         </tr>
                         <tr>
                             <td class="text-left">Maximum</td>
                             <td style="border-right: 0px;">[[calSummary.max]]</td>
                         </tr>
                      </tbody>
                    </table>
                </div>

              </div>
            </div>
        </div>


    <!--    <div class="modal-body specific" id="viewModalBody">
  	    <div class="col-md-8">
    <div class="my-4">
          <div id="statisticalSummary" width="400" height="300" style="background-color: #D3D3D3;">
            <h2 class="text-primary text-center display-4" style="padding: 30px;">Statistical Summary:
            </h2>
           <!--  <h3 class="font-weight-bold text-center text-primary" style="padding-bottom: 30px;">
                [[selMethod]] : [[calSummary]]
            </h3> -->
            <!--<ul>
              <li>Count :[[calSummary.count]]</li>
              <li>Mean :[[calSummary.mean]]</li>
              <li>Standard Deviation :[[calSummary.std]]</li>
              <li>Median : [[calSummary.median]]</li>
              <li>Skewness : [[calSummary.skewness]]</li>
              <li>Kurtosis :[[calSummary.kurtosis]]</li>
              <li>Minimum :[[calSummary.min]]</li>
              <li>25% :[[calSummary.25]]</li>
              <li>50% :[[calSummary.50]]</li>
              <li>75% :[[calSummary.75]]</li>
              <li>Maximum :[[calSummary.max]]</li>
            </ul>
          </div>

    </div>
    </div>

        </div>-->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    </div>



    <a href="" style="margin-top:auto; width:50%;" class="btn btn-default" data-toggle="modal" data-target="#editModal" ng-click="editStatistical(x)">Edit</a>
    <a href="" style="margin-top:auto; width:100%" class="btn btnd" ng-click="delStatistical(x.id)">Delete</a>
    </td>
    </tr>
      </tbody>
    </table>
</div>
</div>
</div>
