{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}

  <div class="container">
    <h1 class="text-center logo my-4">
      <a href="{% url 'home' %}">Sigma statistics</a>
    </h1>
    {% block content %}
    {% endblock %}
  </div>
{% endblock %}
<!--{% block additional_script %}-->
<!--    <script type="text/javascript" src="../static/js/sisyphus.js"></script>-->
<!--    <script>-->
<!--        $(function(){-->
<!--            $("#form1").sisyphus({-->
<!--                autoRelease: true,-->
<!--                onRestore: function () {-->
<!--{#                    console.log(" hey from base  ",document.getElementsByName('firm').checked );#}-->
<!--                    console.log(" hey from base 2  ",document.querySelector('input[name="firm"]:checked').value);-->

<!--                }-->
<!--            });-->
<!--        } );-->

<!--    </script>-->
<!--{% endblock %}-->