{% extends 'base_chart.html' %}

{% block content %}

<div class='row'>
        <div class='col-sm-12'>
        <h1>Visualization</h1>
		<h1>{{ dataset_name }}</h1>
        
		<div id="header_fields">
			<form id="graphHeader" method="POST" action="/api/chart/data/{{ dataset_name }}/"">
			{% csrf_token %}
			Select X-axis :
			<select id="x_value" name="x_axis_value" class="custom-select btn-info">
				<option selected>Select field</option>
				{% for header in fields %}
				<option value='{{ header }}'>{{ header }}</option>
				{% endfor %}
			</select>
			
			Select Y-axis :
			<select id="y_value" name="y_axis_value" class="custom-select btn-info">
				<option selected>Select field</option>
				{% for header in fields %}
				<option value='{{ header }}'>{{ header }}</option>
				{% endfor %}
			</select>
			<button type="submit" class="btn btn-info">Submit</button>
			</form>
		</div>
		
		<div class='col-sm-6'>
            <canvas id="myChart2" width="500" height="400"></canvas>
        </div>

    </div>
</div>

{% endblock content %}
<script type="text/javascript">
{% block jquery %}
console.log("sgsdgsg");
console.log('{{ dataset_name }}');
var endpoint = "/api/chart/data/{{ dataset_name }}/";
var defaultData = [];
var labels = [];
console.log("2nd time");
var frm = $("#graphHeader");
frm.submit(function (){
	console.log("after submit");
	console.log(endpoint);
	var x_value = $("#x_value").val();
	var y_value = $("#y_value").val();
	
	console.log("this is x-vallue after submit");
	console.log(x_value);
	console.log(y_value);
	$.ajax({
		url: frm.attr('action'),
        data: {
          'x_value': x_value,
		  'y_value': y_value
        },
        type: frm.attr('method'),
		dataType: 'json',
        success: function (data) {
          if (data) {
            console.log("got data successfully!!!");
			labels = data.labels
			defaultData = data.default
			console.log(data)
			setChart()
		  }
        },
		error: function(error_data){
			console.log("error")
			console.log(error_data)
		}
      });
	  
	console.log("end of ajax");
	return false;
});
console.log("2nd time");
/*
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
		console.log(data)
		console.log('{{ fields }}')
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
*/



function setChart(){
 //   var ctx = document.getElementById("myChart");
    var ctx2 = document.getElementById("myChart2");
    var myChart = new Chart(ctx2, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: '',
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

 /*   var myChart = new Chart(ctx, {
    type: 'polarArea',
    data: {
        labels: labels,
        datasets: [{
            label: '# of Votes',
            data: defaultData,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});*/
}
// var ctx = document.getElementById("myChart");



{% endblock %}
</script>
