
<link  rel="stylesheet" href="{% static 'css/table.css' %}">
<div class="container" ng-hide="showGraph1">
    <!--<nav aria-label="breadcrumb" class="my-4">
        <ol class="breadcrumb">
            <!--<li class="breadcrumb-item active" aria-current="page"><a href="" ng-click="reload()">Visualization</a></li>-->
            <!-- <li class="breadcrumb-item" aria-current="page">Choose Dataset</li> -->
        <!--</ol>
    </nav>
    <!-- <a href="/dataset">dataset</a> -->
    <h4>Choose dataset to make analytical summary:</h4>
    <!--DropdownSelector-->
  <!-- <div class=" table table-bordered table-striped my-4 dropdown pull-right">
      <button class="btn btn-primary dropdown-toggle block" type="button" data-toggle="dropdown">Select Dataset

      </button>
      <ul class="dropdown-menu scrollable-menu">
          <li class="listline" ng-repeat="x in datasetArr"><br><a href="" class="btn btn-primary block" ng-click="chooseDataset(x)">[[x.dataset_name]]</a></li>
      </ul>
  </div> -->
  <!--<div class="col-md-6" style="padding-right: initial; padding-left: initial;">
    <table id="datasetList" class="table table-responsive table-striped my-4" style="border: 1px solid black">
        <thead ng-hide="true" class="ng-hide">
            <tr>
                <th>Dataset</th>
                <th>Select Dataset</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in datasetArr">
                <td style="padding-left: 30px">[[x.dataset_name]]</td>
                <td><a href="" class="btn btn-primary" ng-click="chooseDataset(x)">Select</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-6" style="padding-right: initial; padding-left: initial;">
  <table id="datasetList" class="table table-responsive table-striped my-4" style="border: 1px solid black">
      <thead ng-hide="true" class="ng-hide">
          <tr>
              <th>Dataset</th>
              <th>Select Dataset</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="x in datasetArr">
              <td style="padding-left: 30px">[[x.dataset_name]]</td>
              <td><a href="" class="btn btn-primary" ng-click="chooseDataset(x)">Select</a></td>
          </tr>
      </tbody>
  </table>-->
  <div class="col-sm-6">
    <table id="datasetList" class="rwd-table" style="border:1px solid #9ea7af">
    <thead ng-hide="true" class="ng-hide">
      <tr>
        <th>Dataset</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in datasetArr" ng-if="$even">
        <td class="tdchoose"style="padding-left: 30px" ng-click="chooseDataset(x)">[[x.dataset_name]]</td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="col-sm-6">
    <table id="datasetList" class="rwd-table" style="border:1px solid #9ea7af">
    <thead ng-hide="true" class="ng-hide">
      <tr>
        <th>Dataset</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in datasetArr" ng-if="$odd">
        <td class="tdchoose"style="padding-left: 30px" ng-click="chooseDataset(x)">[[x.dataset_name]]</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<div class="container" ng-show="showGraph1">

<!-- Reveal dataset list in main page-->
    <!-- <nav aria-label="breadcrumb" class="my-4">
        <ol class="breadcrumb"> -->
            <!--<li class="breadcrumb-item active" aria-current="page"><a href="" ng-click="reload()">Visualization</a></li>-->
            <!-- <li class="breadcrumb-item" aria-current="page">Change Selected Dataset</li>
        </ol>
    </nav> -->
    <!--DropdownSelector summarypage-->
    <!-- <div class="boom table table-bordered table-striped my-4 dropdown pull-right">
        <button class="btn btn-primary dropdown-toggle block" type="button" data-toggle="dropdown">Select Dataset
        </button>
        <ul class="dropdown-menu scrollable-menu">
            <li class="listline" ng-repeat="x in datasetArr"><br><a href="" class="btn btn-primary block" ng-click="chooseDataset(x)">[[x.dataset_name]]</a></li>
        </ul>
    </div> -->

    <nav aria-label="breadcrumb" class="my-4">
     <ol class="breadcrumb">
       <!--<li class="breadcrumb-item active" aria-current="page"><a href="" ng-click="reload()">Visualization</a></li>-->
   	<li class="breadcrumb-item" aria-current="page">Make an Analytical Summary</li>
     </ol>
   </nav>
  <div class="row">
  <!-- <div class="col-md-4">
	<h3>Dataset Name : [[selectedDataset]]</h3>
	<label class="my-4" for="visuaName">Analytical Name</label>
	<input type="text" ng-model="aName" class="form-control onePerLMargin" id="aName" placeholder="Enter Analytical Name">

	<h4 class="my-4">Select fields from drop down:</h4>
	<div class="col-md-12 my-4">
	Select method :
		<select id="method" name="method" ng-model="selectedmethod" ng-change="initCalculate()" class="custom-select btn-info">
			<option selected>Select field</option>
			<option ng-repeat="k in methodArr" value="[[k]]">[[k]]</option>
		</select>
	</div>
	<div class="col-md-12 my-4">
	Select Group :
		<select id="group" name="group_name" ng-model="selectedgroup" class="custom-select btn-info">
			<option selected>Select group</option>
			<option ng-repeat="k in fieldsAr" value="[[k]]">[[k]]</option>
		</select>
	</div>

	<div class="col-md-12 my=4">
	Select Data :
		<select id="datacol" name="datacol_name" ng-model="selecteddatacol" class="custom-select btn-info">
			<option selected>Select data</option>
			<option ng-repeat="k in fieldsAr" value="[[k]]">[[k]]</option>
		</select>
	</div>
	<button type="submit" class="btn btn-info" ng-click="calculateAnalytical()">Calculate</button>
	<button class="btn btn-primary" ng-click="paramterSave2()">Save</button>
  </div> -->
  <div class="col-md-4" style="margin-top:15px">

    <div class="">
        <div class="row ml-auto border border-top-0 bg-secondary "data-toggle="collapse" data-target="#viz_name">
          <label class="category p-2 mx-auto text-light" >Names</label>
        </div>
        <div id="viz_name" class=" ml-auto collapse">
       <div class="row ml-auto border">
         <div class="col-sm-4  table table-striped my-4 ">
           <label class="category">Dataset    Name</label>
         </div>
         <div class="col-sm table table-striped my-4 dropdown pull-right">
           <button id="dataset" class="btn btn-primary dropdown-toggle block datsel " type="button" data-toggle="dropdown" >Select Dataset
           </button>
           <ul class="dropdown-menu scrollable-menu">
             <li class="listline dropdown-item" ng-repeat="x in datasetArr"><br><a href="" class="" ng-click="chooseDataset(x)">[[x.dataset_name]]</a></li>
           </ul>
         </div>
       </div>
       <div class="row ml-auto border border-top-0">
         <div class="col-sm-4 table table-striped my-4">
           <label class="category" for="visuaName">Name Analytical</label>
         </div>
         <div class="col-sm table table-striped my-4">
           <input type="text" ng-model="aName" class="form-control form-control-0" id="aName" placeholder="Enter Analytical Name">
         </div>
       </div>
       </div>
       </div>
       <div class="row ml-auto border border-top-0 bg-secondary " data-toggle="collapse" data-target="#viz_par">
         <label class="category p-2 mx-auto text-light">Analytical Parameters</label>
       </div>
       <div id="viz_par" class="row ml-auto collapse border border-top-0">

                 <div ng-hide="ctrlChart" class=" container w-100">
                  <div class="row ">
                    <div class="col-sm-4  table table-striped my-4 ">
                      <label class="category">Select method</label>
                    </div>
                    <div  class="col-sm  table table-striped my-4 dropdown pull-right">
                      <select id="method" name="method" class="btn btn-primary dropdown-toggle block datsel" type="button" ng-model="selectedmethod" ng-change="initCalculate()" class="custom-select btn-info">
                        <option>Select field</option>
                               <option ng-repeat="k in methodArr" value="[[k]]">[[k]]</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div ng-hide="ctrlChart" class=" container w-100">
                 <div class="row ">
                   <div class="col-sm-4  table table-striped my-4 ">
                     <label class="category">Select Group</label>
                   </div>
                   <div  class="col-sm  table table-striped my-4 dropdown pull-right">
                     <select id="group" name="group_name" class="btn btn-primary dropdown-toggle block datsel" type="button" ng-model="selectedgroup"  class="custom-select btn-info">
                       <option selected>Select field</option>
                      <option ng-repeat="k in fieldsAr" value="[[k]]">[[k]]</option>
                     </select>
                   </div>
                 </div>
               </div>
               <div ng-hide="ctrlChart" class=" container w-100">
                <div class="row ">
                  <div class="col-sm-4  table table-striped my-4 ">
                    <label class="category">Select Data</label>
                  </div>
                  <div  class="col-sm  table table-striped my-4 dropdown pull-right">
                    <select id="datacol" name="datacol_name" class="btn btn-primary dropdown-toggle block datsel" type="button" ng-model="selecteddatacol" class="custom-select btn-info">
                      <option>Select field</option>
                      <option ng-repeat="k in fieldsAr" value="[[k]]">[[k]]</option>
                    </select>
                  </div>
                </div>
              </div>
                 <div class="container ml-auto text-center " style="padding-bottom:2%;">
                   <div class="row">
                       <div class="col-sm-6  table table-striped my-4 ">
                           <button type="submit" class="btn btn-info" ng-click="calculateAnalytical()">Calculate</button>
                       </div>
                       <div class="col-sm-6  table table-striped my-4 ">
                           <button class="btn btn-primary" ng-click="paramterSave2()">Save</button>
                       </div>
                   </div>
               </div>
             </div>
  </div>
  <div class="col-md-8" style = "padding:0px">

       <div class="my-4 col-md-12">
			<!-- <table class = "table table-striped">
				<thead class="bg-primary" style="color:white;">
					<tr>
						<th ng-show="calculationDone && selectedmethod!='anova'">
							[[selectedmethod]] : [[calculatedSummary]]
						</th>
						<th ng-show="selectedmethod=='anova' && calculationDone" scope= "row"  scope="col" >Factor</th>
						<th ng-show="selectedmethod=='anova' && calculationDone" scope= "row"  scope="col" style="width:80px">Values</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th ng-show="calculationDone && selectedmethod!='anova'">
							[[selectedmethod]] : [[calculatedSummary]]
						</th>
						<th ng-show="selectedmethod=='anova' && calculationDone" scope= "row" >F</th>
						<td ng-show="calculationDone && selectedmethod!='anova'">
							[[selectedmethod]] : [[calculatedSummary]]
						</td>
						<td ng-show="selectedmethod=='anova' && calculationDone">
							[[calculatedSummary.f]]
						</td>
					</tr>
					<tr>
						<th ng-show="calculationDone && selectedmethod!='anova'">
							[[selectedmethod]] : [[calculatedSummary]]
						</th>
						<th ng-show="selectedmethod=='anova' && calculationDone" scope= "row" >P</th>
						<td ng-show="calculationDone && selectedmethod!='anova'">
							[[selectedmethod]] : [[calculatedSummary]]
						</td>
						<td ng-show="selectedmethod=='anova' && calculationDone">
							[[calculatedSummary.p]]
						</td>
					</tr>
          </tbody>
          </table> -->


          <div class="row no-gutters">
          <div class="col-md">
           <div id="statisticalSummary"  style="background-color: #868e96;" ng-show="selectedmethod=='anova' && calculationDone">
               <h3 ng-show="calculationDone && selectedmethod!='anova'" class="font-weight-bold text-center text-light" style="padding-bottom: 30px;">
                   [[selectedmethod]] : [[calculatedSummary]]
               </h3>
               <table class="tablefill2" ng-show="selectedmethod=='anova' && calculationDone" style="height:auto;">
                   <thead>
                       <tr class="thnew" >
                           <th class=" text-left">Factor</th>
                           <th class=" text-left">Value</th>

                           <th class=" text-left">Factor</th>
                           <th class=" text-left">Value</th>
                       </tr>
                   </thead>
                   <tbody class="tdnew table-hover">
                      <tr >
                          <td class="text-left">F</td>
                          <td>[[calculatedSummary.f]]</td>

                          <td class="text-left">Omega Square</td>
                          <td style="border-right: 0px;">[[calculatedSummary.omega_square]]</td>
                      </tr>
                      <tr>
                          <td class="text-left">P</td>
                          <td>[[calculatedSummary.p]]</td>

                          <td class="text-left">ETA Square</td>
                          <td style="border-right: 0px;">[[calculatedSummary.eta_square]]</td>
                      </tr>

                   </tbody>
                 </table>
            </div>
          </div>
           </div>
          </div>

  </div>

  <div id="histoDiv"></div>
  </div>

    <div class="modal fade" id="successModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Success</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          [[sName]]Analytical is saved successfully.
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</div>

  </div>
  </div>
