<div class="container" ng-hide="showGraph1">
    <!--<nav aria-label="breadcrumb" class="my-4">
        <ol class="breadcrumb">
            <!--<li class="breadcrumb-item active" aria-current="page"><a href="" ng-click="reload()">Visualization</a></li>-->
            <!-- <li class="breadcrumb-item" aria-current="page">Choose Dataset</li> -->
        <!--</ol>
    </nav>
    <!-- <a href="/dataset">dataset</a> -->
    <h4>Choose dataset to start Normality tests:</h4>
    <!--DropdownSelector-->
    <table class="table table-striped my-4">
        <thead ng-hide="true" class="ng-hide">
            <tr>
                <th>Dataset</th>
                <th>Select Dataset</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in datasetArr">
                <td>[[x.dataset_name]]</td>
                <td><a href="" class="btn btn-primary" ng-click="chooseDataset(x)">Select</a></td>
            </tr>
        </tbody>
    </table>
</div>


<div class="container" ng-show="showGraph1">

<!-- Reveal dataset list in main page-->
    <!-- <nav aria-label="breadcrumb" class="my-4">
        <ol class="breadcrumb"> -->
            <!--<li class="breadcrumb-item active" aria-current="page"><a href="" ng-click="reload()">Visualization</a></li>-->
            <!-- <li class="breadcrumb-item" aria-current="page">Change Selected Dataset</li>
        </ol>
    </nav> -->
    <!--DropdownSelector summarypage-->
    <!-- <div class="boom table table-bordered table-striped my-4 dropdown pull-right">
        <button class="btn btn-primary dropdown-toggle block" type="button" data-toggle="dropdown">Select Dataset
        </button>
        <ul class="dropdown-menu scrollable-menu">
            <li class="listline" ng-repeat="x in datasetArr"><br><a href="" class="btn btn-primary block" ng-click="chooseDataset(x)">[[x.dataset_name]]</a></li>
        </ul>
    </div> -->

  <nav aria-label="breadcrumb" class="my-4">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href="" ng-click="reload()">Hypothesis</a></li>
    <li class="breadcrumb-item" aria-current="page">Select Fields</li>
  </ol>
  </nav>
  <div class="row">

  <div class="col-md-4">
    <div class="">
        <div class="row ml-auto border border-top-0 bg-secondary "data-toggle="collapse" data-target="#viz_name">
          <label class="category p-2 mx-auto text-light" >Names</label>
        </div>
        <div id="viz_name" class=" ml-auto collapse">
       <div class="row ml-auto border">
         <div class="col-sm-4  table table-striped my-4 ">
           <label class="category">Dataset    Name</label>
         </div>
         <div class="col-sm table table-striped my-4 dropdown pull-right">
           <button name="1stdataset" id="1stdataset"  class="btn btn-primary dropdown-toggle block datsel " type="button" data-toggle="dropdown" >Select Dataset
           </button>
           <ul class="dropdown-menu scrollable-menu">
             <li class="listline dropdown-item" ng-repeat="x in datasetArr"><br><a href="" class="" ng-click="chooseDataset(x)">[[x.dataset_name]]</a></li>
           </ul>
         </div>
       </div>
       <div class="row ml-auto border border-top-0">
         <div class="col-sm-4 table table-striped my-4">
           <label class="category" for="visuaName">Name Hypothesis</label>
         </div>
         <div class="col-sm table table-striped my-4">
           <input type="text" ng-model="hName" class="form-control form-control-0" id="hName" placeholder="Enter Test Name">
         </div>
       </div>
       </div>
       </div>
       <div class="row ml-auto border border-top-0 bg-secondary " data-toggle="collapse" data-target="#viz_par">
         <label class="category p-2 mx-auto text-light">Hypothesis Parameters</label>
       </div>
       <div id="viz_par" class="row ml-auto collapse border border-top-0">

                 <div ng-hide="ctrlChart" class=" container w-100">
                  <div class="row ">
                    <div class="col-sm-4  table table-striped my-4 ">
                      <label class="category">Select test</label>
                    </div>
                    <div  class="col-sm  table table-striped my-4 dropdown pull-right">
                      <select id="hypotest" name="hypotest" class="btn btn-primary dropdown-toggle block datsel" type="button" ng-model="selectedtest" ng-change="calculateHypothesis()" ng-click="calculateHypothesis()" class="custom-select btn-info">
                        <option>Select field</option>
                               <option ng-repeat="k in testArr" value="[[k]]">[[k]]</option>
                      </select>
                    </div>
                  </div>
                </div>

               <div ng-hide="ctrlChart" class=" container w-100">
                <div class="row">
                  <div class="col-sm-4  table table-striped my-4 ">
                    <label class="category">Select Data</label>
                  </div>
                  <div  class="col-sm  table table-striped my-4 dropdown pull-right">
                    <select id="datacol" name="datacol_name" class="btn btn-primary dropdown-toggle block datsel" type="button" ng-model="selecteddatacol" ng-change="calculateHypothesis()" ng-click="calculateHypothesis()" class="custom-select btn-info">
                      <option>Select field</option>
                      <option ng-repeat="k in fieldsAr" value="[[k]]">[[k]]</option>
                    </select>
                  </div>
                </div>
              </div>
                 <div class="container ml-auto text-center " style="padding-bottom:2%;">
                   <div class="row">
                       <div class="col-sm-6  table table-striped my-4 ">
                           <button type="submit" class="btn btn-info" ng-click="calculateHypothesis()">Calculate</button>
                       </div>
                       <div class="col-sm-6  table table-striped my-4 ">
                           <button class="btn btn-primary" ng-click="parameterSave3()">Save</button>
                       </div>
                   </div>
               </div>
             </div>

  </div>
  <div class="col-md-8">
    <div class="row no-gutters">
    <div class="col-md">
     <div id="normalityResults"  style="background-color: #868e96;" ng-show="selectedtest=='Shapiro-Wilk Test' && calculationDone">

       <label class="category p-2 mx-auto text-light">Shapiro-Wilk Test</label>
         <table class="tablefill2" ng-show="selectedtest=='Shapiro-Wilk Test' && calculationDone" style="height:auto;">
             <thead>
                 <tr class="thnew" >
                     <th class=" text-left">Factor</th>
                     <th class=" text-left">Value</th>

                     <th class=" text-left">Factor</th>
                     <th class=" text-left">Value</th>
                 </tr>
             </thead>
             <tbody class="tdnew table-hover">
                <tr >
                    <td class="text-left">P</td>
                    <td>[[calculatedSummary.p]]</td>

                    <td class="text-left">Result</td>
                    <td style="border-right: 0px;">[[calculatedSummary.gaussian_result]]</td>
                </tr>
                <tr>
                    <td class="text-left">Stat</td>
                    <td>[[calculatedSummary.stat]]</td>

                </tr>

             </tbody>
           </table>
      </div>

      <div id="normalityResults"  style="background-color: #868e96;" ng-show="selectedtest=='D’Agostino’s K^2 Test' && calculationDone">
        <label class="category p-2 mx-auto text-light">D'Agostino's K^2 Test</label>
          <table class="tablefill2" ng-show="selectedtest=='D’Agostino’s K^2 Test' && calculationDone" style="height:auto;">
              <thead>
                  <tr class="thnew" >
                      <th class=" text-left">Factor</th>
                      <th class=" text-left">Value</th>

                      <th class=" text-left">Factor</th>
                      <th class=" text-left">Value</th>
                  </tr>
              </thead>
              <tbody class="tdnew table-hover">
                 <tr >
                     <td class="text-left">P</td>
                     <td>[[calculatedSummary.p]]</td>

                     <td class="text-left">Result</td>
                     <td style="border-right: 0px;">[[calculatedSummary.gaussian_result]]</td>
                 </tr>
                 <tr>
                     <td class="text-left">Stat</td>
                     <td style="border-right: 0px;">[[calculatedSummary.stat]]</td>
                 </tr>

              </tbody>
            </table>
       </div>
    </div>
     </div>


  </div>

  <!-- <div id="histoDiv"></div> -->
  </div>

    <div class="modal fade" id="successModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Success</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          [[sName]]Normality Test is saved successfully.
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</div>
