<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="card-deck mt-4em">
        <div class="card">
          <img class="card-img-top" src="../static/img/gear.png" alt="">
          <div class="text-center card-body">

            <a href="/dataset/#/statistical"class="btn btn-link btn-info nbtn" style="width:50%">Discrete Event</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card-deck mt-4em">
        <div class="card">
          <img class="card-img-top" src="../static/img/gear.png" alt="">
          <div class="text-center card-body">

            <a href="/dataset/#/analytical"class="btn btn-link btn-info nbtn" style="width:50%">Monte Carlo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
